# Python
__pycache__/
**/*.pyc
*.egg-info/
dist/
build/
.eggs/

# uv / venv
.venv/
.python-version
uv.lock

# IDE
.vscode/
.idea/
.DS_Store

# Project
data*/
results/
jobs/
wandb/
logs/
*.log

# Cache (symlinked)
.cache
.cache/